*,h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: none !important;
}
a {
    text-decoration:none !important;
    transition:all ease-in-out .5s;
    -moz-transition:all ease-in-out .5s;
    -ms-transition:all ease-in-out .5s;
    -o-transition:all ease-in-out .5s;
    -webkit-transition:all ease-in-out .5s;
}
img {
    max-width: 100%;
    border: none;
    outline: none;
    vertical-align: middle;
}
button, input[type='submit'] {
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
}
li {
    list-style: none;
}
body
{
    font-family: 'Open Sans', sans-serif;
}
.body_color
{
    background: #f6f6f6;
}
/* =============
Helper clasess
============= */
.p-0 {
    padding: 0px !important;
}
.p-20 {
    padding: 20px !important;
}
.p-30 {
    padding: 30px !important;
}
.p-l-5{
    padding-left: 5px !important;
}
.p-l-10 {
    padding-left: 10px !important;
}
.p-r-10 {
    padding-right: 10px !important;
}
.p-r-30 {
    padding-right: 30px !important;
}
.p-t-0 {
    padding-top: 0px !important;
}
.p-t-5
{
    padding-top: 5px !important;
}
.p-t-10 {
    padding-top: 10px !important;
}
.p-b-0 {
    padding-bottom: 0px !important;
}
.p-b-10 {
    padding-bottom: 10px !important;
}
.p-b-20 {
    padding-bottom: 20px !important;
}
.p-b-30 {
    padding-bottom: 30px !important;
}
.p-l-r-10 {
    padding-left: 10px;
    padding-right: 10px;
}
.m-0 {
    margin: 0px !important;
}
.m-r-5 {
    margin-right: 5px !important;
}
.m-r-10 {
    margin-right: 10px !important;
}
.m-r-15 {
    margin-right: 15px !important;
}
.m-l-5 {
    margin-left: 5px !important;
}
.m-l-10 {
    margin-left: 10px !important;
}
.m-l-15 {
    margin-left: 15px !important;
}
.m-t-5 {
    margin-top: 5px !important;
}
.m-t-0 {
    margin-top: 0px !important;
}
.m-t-10 {
    margin-top: 10px !important;
}
.m-t-15 {
    margin-top: 15px !important;
}
.m-t-20 {
    margin-top: 20px !important;
}
.m-t-30 {
    margin-top: 30px !important;
}
.m-t-40 {
    margin-top: 40px !important;
}
.m-b-0 {
    margin-bottom: 0px !important;
}
.m-b-5 {
    margin-bottom: 5px !important;
}
.m-b-10 {
    margin-bottom: 10px !important;
}
.m-b-15 {
    margin-bottom: 15px !important;
}
.m-b-20 {
    margin-bottom: 20px !important;
}
.m-b-25 {
    margin-bottom: 25px !important;
}
.m-b-30 {
    margin-bottom: 30px !important;
}
/*===============
End Helper clasess
=================*/
/*===============
Start Pre Header
=================*/
.pre_header
{
    width: 100%;
    display: block;
    background: #000;
}
.pre_header_list
{
    color: #fff;
    text-transform: capitalize;
    margin: 0;
    padding: 5px 0;
}
.pre_header_list li a
{
    color: #fff;
    border-right: 1px solid #fafafa;
    padding-right: 13px;
}
.pre_header_list li a:hover
{
    text-decoration: underline !important;
}
.pre_header_list li a i 
{
    font-size: 16px;
    padding-right: 5px;
}
.pre_header_list li
{
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    padding: 0 5px;
}
/*===============
End Pre Header
=================*/

/*===============
Start Main Header
=================*/
.bg-clr
{
    background: #fff;
}
.logo 
{
    width: 100%;
    display: block;
    padding: 20px 0;

}
.logo img
{
    max-width: 185px;
    display: block;
    height: auto;
    cursor: pointer;
}
.nav-bar 
{
    display: block;
    margin: 0px;
}
.nav-bar > li
{
    display: inline-block;
    text-align: center;
    border-left: 1px solid #777;
    padding: 31px;
    font-weight: bold;
    position: relative;
    top: 0;
    left: 0;
}
.nav-bar > li:last-child
{
    border-right: 1px solid #777;
    position: relative;
}
.nav-bar li a
{
    display: block;
    color: #000;
}
.nav-bar li:hover a, .nav-bar li.narrow_icon a
{
    color: #0074ff;

}
.narrow_icon:before
{
    position: absolute;
    bottom: -14px;
    left: 57px;
    font-family: FontAwesome;
    content: "\f0d8";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    color: #0074ff;
    font-size: 25px;
}
.big_caret:before
{
    position: absolute;
    bottom: -14px;
    left: 60px;
    font-family: FontAwesome;
    content: "\f0d8";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    color: #0074ff;
    font-size: 25px;
}
.nav-bar li a:hover
{
    color: #0074ff;
}
.main_dropdown
{
    padding-top: 10px;
}
.main_dropdown > li:last-child
{
    color: #c1cdce;
    text-transform: uppercase;
}
.dropdown-menu
{
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.175);
    border: none;
    min-width: 200px;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover
{
    background: #fff;
    color: #0074ff;
}
.dropdown-menu li a
{
    display: inline-block;    
}
.dropdown-menu li a i
{
    padding-right: 10px;
}
.dropdown-toggle
{
    color: #0074ff;
    font-weight: bold;
    font-size: 14px;
}
.dropdown-toggle:hover
{
    color: #0074ff !important;
}
/*===============
End Main Header
=================*/

/*===============
Start Sub Menu
=================*/
.navigation
{
    width: 100%;
    display: block;
    background: #0074ff;
}
.sub_menu
{
    display: block;
    padding: 8px 0 !important;
    margin: 0 !important;
    border: 0 !important;
}
.sub_menu li
{
    display: inline-block !important;
    padding-right: 14px !important;
}
.sub_menu li a
{
    display: inline-block!important;
    color: #fff !important;
    font-size: 14px !important;
    padding: 0 !important;
    border: none !important;
    border-radius: 0 !important;
    background: #0074ff !important;
}
.sub_menu li a:hover 
{
    font-weight: 600;
}
.underline>li.active>a, .underline>li.active>a:focus, .underline>li.active>a:hover
{
    border-bottom: 1px solid #fff !important;
}
.caret_icon 
{
    display: inline-block;
    top: 0;
    left: 0;
    position: relative;
}
.caret_icon:before
{
    position: absolute;
    top: 15px;
    left: 15px;
    font-family: FontAwesome;
    content: "\f0d8";
    display: block;
    vertical-align: middle;
    width: 37%;
    text-align: center;
}
/*===============
End Sub Menu
=================*/

/*===============
Start Body Container
=================*/

/*===============
Start Crow_1_1
=================*/
.loan_details 
{
    padding-top: 22px;
}
.detail_link 
{
    display: inline-block;
    border: solid 1px #aaaaaa;
    border-radius: 50px;
    padding: 3px 15px;
}
.detail_link a
{
    color: #aaaaaa;
}
.detail_link a i
{
    font-size: 12px;
    vertical-align: middle;
}
.amount_detail
{
    color: #999999;
}
.left_transaction 
{
    display: block;
    width: 100%;
    background: #fff;
    text-align: center;
    border: 1px solid #c5c5c5;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    overflow: hidden;
    margin-top: 20px;
}
.right_transaction
{
    display: block;
    width: 100%;
    background: #fff;
    text-align: center;
    border: 1px solid #c5c5c5;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 25px;
}
.amount_summary
{
    width: 100%;
    display: block;
    padding: 40px 30px;
}
.total_amout
{
    display: block;
    font-size: 25px;
    font-weight: bold;
}
.amount_sumary
{
    color: #999999;
    font-size: 12px;
}
.transaction_btn
{
    display: block;
    background: #f1f1f1;
    padding: 20px 0;
}
.btn_left
{
    padding: 11px 31px;
    background: #0074ff;
    color: #fff !important;
    font-weight: bold;
    border-radius: 5px;
    text-transform: capitalize;
}
.btn_left:hover
{
    color: #fff;
}
.payment_method
{
    padding: 15px 0;
    display: block;
    border-bottom: 1px solid #aaaaaa;
}
.payment_method h4
{
    font-weight: bold;
}
.payment_detail 
{
    width: 56%;
    display: block;
    color: #999999;
    padding: 10px 0 0 0;
}
.contact_sec 
{
    background: #e0e0e0;
    margin: 15px 0;
    display: block;
}
.photo_sec 
{
    display: block;
    width: 100%;
    padding: 5px;
}
.photo_sec img
{
    margin: 0 auto;
}
.contact_info
{
    width: 100%;
    background: #f3f3f3;
    display: block;
    padding: 10px;
    font-size: 16px;
}
.contact_info i
{
    padding-right: 5px;
}
.contact_info a:hover
{
    color: #0074ff;
}

/*===============
End Crow_1_1
=================*/

/*===============
Start Crow_1_2
=================*/
.account_details
{
    width: 100%;
    display: inline-block;
    padding-top: 20px;
}
.account_details label
{
    color: #3c3c3c;
    padding-right: 15px;
    margin-top: 3px;
}
.adjust_sec
{
    background: #fff;
    display: block;
    width: 100%;
    border: 2px solid #e3e3e3;
    overflow: hidden;
    margin-top: 20px;
    padding: 20px;
    border-radius: 4px;
}
.amount_sec 
{
    display: block;
    overflow: hidden;
}
.right_sec
{
    background: #fff;
    display: block;
    width: 100%;
    border: 2px solid #e3e3e3;
    overflow: hidden;
    margin-top: 20px;
    padding: 10px 15px 0px 15px;
    border-radius: 4px;
}
.colr_text
{
    color: #0074ff;
}
.colr_text:hover
{
    color: #0074ff;
}
.amount_sec select 
{
    width: 100%;
    padding: 5px;
    font-size: 20px;
    /* box-shadow: inset 0 15px 15px -16px rgba(0,0,0,0.1); */
    border: 2px solid #ccc;
    height: 45px;
}
.amout_manual_sec {
    display: block;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    clear: both;
}
.amount_input {
    position: relative;
    width: 100%;
    top:0;
    left: 0;
}
.amount_sec h3
{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.2px;
}
.btn_holder
{
    display: block;
    width: 100%;
    position: relative;
    color: #fff;
}
.btn_holder i
{
    position: absolute;
    right: 15px;
    bottom: 6px;
    font-size: 30px;
}
.btn_holder input#btn-login 
{
    padding: 10px 0;
    background: #56c271 !important;
    border-radius: 0;
    color: #fff;
}
.funds
{
    margin: 15px 0 5px 15px;
}
.account_info 
{
    width: 100%;
    display: block;
    padding-top: 4px;
    overflow: hidden;
}
.amount_details
{
    color:#999999;
    vertical-align: -webkit-baseline-middle;
    padding-right: 40px;
}
.review_button 
{
    display: inline-block;
}
.review_button i
{
    font-size: 30px;
    position: absolute;
    top: 8px;
}
.btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success.focus:active, .btn-success:active:focus, .btn-success:active:hover, .open > .dropdown-toggle.btn-success.focus, .open > .dropdown-toggle.btn-success:focus, .open > .dropdown-toggle.btn-success:hover{
    background: none !important;
    border-color: none !important;
}
.btn.active, .btn:active
{
    box-shadow: inherit;
}
.radio_check input[type="checkbox"] {
    vertical-align: middle;
    margin-bottom: 6px;
    cursor: pointer;
}
.input_height
{
    height: 45px;
}
/*==========
counter code
============*/
#container 
{
    width: 200px;
    height: 200px;
    position: relative;
}
/*==========
End counter code
============*/
.counter_header 
{
    text-align: center;  
    padding: 10px 0;
}
.counter_text
{
    color: #0074ff;
    font-size: 16px;
}
.balance_info
{
    display: block;
    overflow: hidden;
    width: 100%;
    border-bottom: 2Px dotted;
    padding-bottom: 5px;
    border-color: #999999
}
.ligh_text
{
    font-size: 16px;
    color: #999999;
}
.amount
{
    color: #000;
    font-size: 16px;
    font-weight: bold;    
}
.amount small
{
    font-weight: normal;
}
.main_details
{
    display: block;
    width: 100%;
    border-bottom: 2px dotted;
    padding-bottom: 5px;
    border-color: #999999;
    padding: 5px 0px;
}
.further_account_detail
{
    width: 100%;
    display: inline-block;
    padding: 1px 0px;
}
.small_text
{
    color: #999999;
    text-transform:capitalize;
}
.payment_link
{
    width: 100%;
    display: inline-block;
    padding: 5px 0 0 0;
}
.payment_link a:hover
{
    color: #0074ff;
}
/*==========
2nd page code
============*/
.terms 
{
    display: inline-block;
    line-height: 60px;
    font-size: 16px;
    color: #333333;
}
.terms strong
{
    color: #000;
}
.terms i
{
    color: #56c271;
    font-size: 17px;
    padding-right: 10px;
}
.terms a:hover, .code_link a
{
    color: #0074ff;
}
.terms p
{
    line-height: 0px;
    margin-left: 20px;
    font-size: 14px;
    margin-bottom: 25px;
}
.border
{
    border-bottom: 2px dotted #999999;
}
.text_underline
{
    color: #333333;
    letter-spacing: 0.5px;
    border-bottom: 2px solid #333333;
}
.code_link
{
    display: block;
    padding: 20px 0px;
}
.back_btn
{
    display: block;
    padding-bottom: 20px;
}
.back_btn a 
{
    display: block;
    border: 2px solid #999999;
    padding: 10px 27px;
    font-weight: 600;
    color: #0074ff;
}
.fund_btn
{
    display: inline-block;
}
.fund_btn a
{
    display: inline-block;
    padding: 6px 0;
    background: #56c271;
    color: #fff;
    font-size: 16px;
    text-align: center;
    width: 100%;
}
.fund_btn i 
{
    padding-left: 10px;
    font-size: 35px;
    display: inline-block;
    vertical-align: middle;
}
.pre_heading
{
    display: inline-block;
    padding-top: 10px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
{
    background: #0074ff !important;
    color: #fff !important;
}
.pre_heading p
{
    margin: 0px;
}
.term_duration {
    display: inline-block;
    line-height: 35px;
    padding-top: 5px;
}
.term_duration strong
{
    color: #000;
}
.clr_black
{
    color: #000;
}
.no_border
{
    border: none;
}
.bank_name
{
    padding: 10px 0;
}
.bank_name img
{
    width: 51px;
    padding: 0 8px 3px 0;
}
.bank_name i
{
    color: #0074ff;
    padding-left: 20px;
}
.table_content
{
    background: #fff;
    display: block;
    width: 100%;
    border: 2px solid #e3e3e3;
    overflow: hidden;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 30px;
}
.tabs
{
    display: inline-block;
    padding: 10px 0;
    border-bottom: none !important;
}
.tabs a 
{
    display: inline-block !important;
    padding: 10px !important;
    background: #fff;
    border: 1px solid #0074ff !important;
    color: #0074ff !important;
    border-radius: 0 !important;
    margin: 0px !important;
}
.tabs li:last-child a
{
    border-left: none !important;
}
.tabs a:hover
{
    background: #fff !important;
    color:#0074ff !important; 
}
.loan_offer 
{
    display: inline-block;
    padding-top: 21px;
    text-transform: capitalize;
}
.payment_table 
{
    border-collapse: collapse;
    width: 100%;
}
.payment_table td, th 
{
    text-align: left;
    padding: 8px;
}
tbody {
    border: 1px solid #ccc;
}
.payment_table tr:nth-child(even) 
{
    background-color: #f6f6f6;
    border-bottom:1px solid #dddddd;
}
.payment_table tr:last-child
{
    border-bottom:none;
}
.fee_summary 
{
    display: inline-block;
    background: #e5f9ff;
    width: 100%;
    padding: 10px 0px;
    margin-top: 15px;
}
.fee_summary li 
{
    display: inline-block;
    border-right: 1px solid #777;
    padding: 0 10px;
}
.review_btn 
{
    display: inline-block;
}
.review_btn a
{
    display: inline-block;
    color: #fff;
    background: #56c271;
    padding: 6px 20px;
    font-size: 16px;
}
.review_btn a i
{
    padding-left: 10px;
    font-size: 35px;
    display: inline-block;
    vertical-align: middle;    
}
.payment_info_detail
{
    width: 100%;
    display: inline-block;
    padding: 20px 72px;
}
.question_sec 
{
    line-height: 35px;
    display: inline-block;
}
.question_sec li:first-child
{
    font-size: 16px;
    font-weight: bold;
}
.question_sec li a:hover
{
    color: #0074ff;
    text-decoration: underline !important;
}

/*==========
End 2nd page code
============*/

/*==========
3rd page code
============*/
.payment_selection
{
    display: inline-block;
    padding-top: 10px;
}
.radio_check input[type="radio"] 
{
    vertical-align: top;
    cursor: pointer;
}
.total_amount
{
    font-size: 16px;
    display: inline-block;
    padding-left: 3px;
}
.remaning_amount
{
    font-size: 16px;
    margin-bottom: 0px;
}
.manual_amount
{
    width: 30%;
    padding: 0 5px;
    box-shadow: inset 0 7px 15px -16px rgba(0, 0, 0, 1);
    border: 1px solid #cccccc;
    line-height: 30px;
}
.payment_procedure_sec 
{
    display: block;
}
.payment_procedure
{
    width: 100%;
    font-size: 16px;
    display: inline-block
}
.payment_procedure p
{
    display: block;
    margin-bottom: 0px;
}
.removing_width
{
    margin-top: 60px;
}
.sec_length
{
    padding: 40px 17px;
}
.solid_border
{
    border-bottom: 1px solid #ccc;
}

/*==========
End 3rd page code
============*/

/*==========
4th page code
============*/

.customize
{
    webkit-box-shadow: inset 0 1px 0px rgba(0,0,0,.075);
    -webkit-transition:; border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition:; border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    box-shadow: inset 0 1px 0px rgba(0,0,0,.075);
    :-ms-lang ;
    border-right: none;
    border-radius: 0px;
    padding: 0;
    font-size: 18px;
    padding: 0 15px;
}
.icon_setting
{
    box-shadow: inset 0 1px 0px rgba(0,0,0,.075);
    webkit-box-shadow: inset 0 1px 0px rgba(0,0,0,.075);
    background-color: #fff !important;
}
.icon_setting i
{
    cursor: pointer;
}
.form-group p
{
    margin: 0px;
}
.form-control:focus
{
    border-color:#ccc !important;
    box-shadow: none !important;
}
.form-group i
{
    color: #0074ff;
}
.select_input select {
    height: 34px;
    border: 1px solid #ccc;
    font-size: 14px;
    border-radius: 4px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.active_page_table tr
{
    text-align:left;
}

.active_page_table td {
    border: 1px solid #ccc;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #f6f6f6;
}
.Heading_border 
{
    width: 100%;
}
.question_sec p
{
    margin: 0px;
}
.statement_option select
{
    padding: 8px 17px 10px 5px;
    border: 2px solid #ccc;
    box-shadow: inset 0 1px 0px rgba(0,0,0,.075);
}
.download_link {
    display: block;
    margin-top: 12px;
    width: 80%;
}
.download_link a 
{
    padding: 10px 17px;
    background: #fff;
    color: #0074ff;
    border: 2px solid #ccc;
    text-align: center;
}
.download_link a:hover
{
    background:#0074ff;
    color: #fff;
    border: 2px solid #0074ff;
}
.download_link a i
{
    font-size: 20px;
    vertical-align: middle;
    text-align: center;
}
.dark_border
{
    width: 100%;
    border-bottom: 1px solid #999999 !important;
}
.transaction_notice 
{
    color: #999999;
    padding-top: 20px;
}
.statement_option select{
    width: 100%;
}
/*==========
End 4th page code
============*/

/*==========
Login page code
============*/
.reg_btn
{
    display: inline-block !important;
    width: 100% !important;
}
.login_bg
{
    background: #fff;
}
.login_input {
    color: #212121;
    font-size: 18px;
}
.reg_input
{
    color: #212121;
    width: 100%;
    margin: 0 auto; 
    font-size: 16px;
}
.form-wrap 
{
    margin-top: 50px;
    width: 38%;
    margin: 0 auto;
    display: block;
}
.btn-custom
{
    background: #fff;
    color: #0074ff;
    width: 38% !important;
    margin: 0 auto;
    border: 1px solid #0074ff;
}
.btn-custom:hover
{
    background: #0074ff;
    color: #fff;
}
.login_btn
{
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
    text-align: center;
}
.forget 
{
    padding: 10px 0;
    display: inline-block;
}
.input_name
{
    display: inline-block;
    width: 100%;
    line-height: 47px;
}
.error_message 
{
    margin: 35px auto;
    font-size: 14px;
    padding: 0 4px !important;
}
.error_text 
{
    display: inline-block;
    padding: 10px;
}
.error_message i
{
    font-size: 14px !important;

}
.sign_up_btn
{
    background: #fff;
    color: #0074ff;
    width: 34% !important;
    margin: 0 auto;
    border: 1px solid #0074ff;
}
.sing_up_header
{
    width: 100%;
    display: inline-block;
    padding: 20px 15px;
    background: #0074ff;
    text-align: center;
    color: #fff;
}
.cross_icon
{
    margin-top: -50px !important;
}
/*==========
End Login page code
============*/

/*==========
Term page code
============*/

.term_bg_colr
{
    background: #f6f6f6;
    display: inline-block;
    width: 100%;
    padding-top: 20px;
    border-bottom: 1px solid #ccc;
}
.page_header 
{
    width: 50%;
    display: inline-block;
    padding-bottom: 15px;
}
.Term_loan_top_sec 
{
    display: inline-block;
    padding: 20px 0 30px;
    width: 100%;
}
.page_height
{
    width: 100%;
    display: inline-block;
    height: 285px;
}
.border_right 
{
    display: inline-block;
    border-right: 1px solid #ccc;
    padding-bottom: 30px;
}
.progress_text
{
    font-size: 12px;
    text-align: center;
}
#term {
    max-width: 200px;
    margin: auto;
}
.balance_detail
{
    color: #999999;
    display: inline-block;
    padding-top: 15px;   
}.total_balance_sec 
{
    display: block;
}
.remaining_amount {
    display: block;
    margin-bottom: 40px;
}
.remaining_amount p
{
    padding-right: 16px;
    color: #999;
}
.payment_btn 
{
    display: block;
    width: 65%;
}
.payment_btn a 
{
    padding: 15px 22px;
    border: none;
    background: #0074ff;
    text-shadow: none;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
}
.clander_icon 
{
    display: block;
}
.clander_icon i
{
    font-size: 70px;
    color: #0074ff;
}
.clander_icon small
{
    font-family: 'Dosis', sans-serif;
    letter-spacing: 0.7px;
}
.date_holder
{
    width: 86%;
    display: block;
    padding-bottom: 15px;
}
.date_holder p
{
    color: #999;
}
.shedule_btn
{
    display: block;
    width: 85%;
}
.shedule_btn a
{
    padding: 15px 4px;
    border: 2px solid #0074ff;
    background: #fff;
    text-shadow: none;
    color: #0074ff;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    letter-spacing: 0.4px;
}
/*===================
download btn popup
====================*/

.popup_width
{
    width: 27%;
}
.heading_center
{
    text-align: center;
    padding: 30px;
}
.heading_center i
{
    color: #ccc;
    font-size: 80px;
}
.modal-body p
{
    font-size: 16px;
    margin: 30px 0 50px 0px;
}
/*===================
End download btn popup
====================*/
.clander_icon
{
    display: block;
    color: #999;
}
.loan_text
{
    padding-top: 20px;
}
.auto_payment {
    display: block;
    color: #999999;
    padding: 10px 0 0 0;
}
.table_detalis 
{
    font-size: 16px;
    display: block;
}
/*==========
End Term page code
============*/

/*==========
Footer 
============*/

footer 
{
    padding: 20px 0;
    border-top: 1px solid #ccc;
}
.footer_content 
{
    display: block;
    width: 100%;
}
.footer_content li 
{
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}
.footer_content li:first-child
{
    padding-left: 0px;
}
.footer_content li a
{
    color: #999;
}
.footer_content li a:hover
{
    text-decoration: underline !important;
    color: #0074ff;

}
.footer_content li i 
{
    color: #999;
    font-size: 20px;
    padding-right: 7px;
}
.fone_number 
{
    display: inline-block;
    margin: 0px;
    color: #999;
    font-size: 20px;
}
.registeration_sec 
{
    padding: 15px 0;
    font-size: 12px;
    color: #999;
}

/*==========
End Footer 
============*/

/*==========
Document page 
============*/

.table_main_sec 
{
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    border-bottom: none;
}
.table_header 
{
    background: #ccc;
    padding: 10px 10px;
    font-weight: bold;
}
.table_item 
{
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

/*==========
End Document page 
============*/

/*==========
Edit Profile Page 
============*/

.mail_sec
{    
    padding: 15px 0;
    display: block;
    border-bottom: 2px solid #aaaaaa;
}
.input_field 
{
    padding: 20px 0;
    display: block;
    position: relative;
    top: 0;
    left: 0;
}
.js_class
{
    width: 27%;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    display: inline-block;
}
.inline
{
    display: inline-block;
    width: 27%;
    height: 38px;
    border: none;
    box-shadow: none;
    pointer-events: none; 
}
.input_field a
{
    padding-left: 10px;
    color: #0074ff;
    display: inline-block;
}
.input_field a:hover
{
    color: #0074ff;
}
.update_btn 
{
    padding: 20px 0;
    display: inline-block;
    width: 35%;
}
.update_btn a
{
    padding: 15px 40px; 
}
.profile_cancel_btn
{
    display: inline-block;
}
.profile_cancel_btn a
{
    background: #fff none repeat scroll 0 0;
    border: 2px solid #0074ff;
    border-radius: 5px;
    color: #0074ff;
    display: inline-block;
    font-weight: bold;
    letter-spacing: 0.4px;
    text-align: center;
    text-shadow: none;
}
.connect_btn
{
    display: inline-block;
    padding: 20px 0 50px;
}
.connect_btn a {
    display: inline-block;
    padding: 15px 30px;
    background: #0074ff;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
}
.connect_btn a i
{
    padding-left: 7px;
    vertical-align: super;
    font-size: 18px;

}

/*======================
End Edit Profile Page 
=======================*/

/*=============
Chose Bank Page
===============*/

.company_account
{
    padding: 30px 0;
    font-size: 16px;
}
.banks_branches 
{
    display: inline-block;
}
.banks_branches li 
{
    display: inline-block;
    padding: 10px 20px 10px 35px;
    background: white;
    border: 1px solid #999;
    margin: 0 0 15px 0;
    min-height: 84px;
    vertical-align: middle;
    position: relative;
    color: #666;
    max-height: 84px;
    margin-right: 45px;
}
.banks_branches li:nth-of-type(3)
{
    min-width: 10%;
}
.banks_branches li:nth-of-type(4)
{
    min-width: 19%; 
}
.banks_branches li:last-child
{
    padding: 24px 20px 0px 30px;
    font-size: 24px;
    display: inline-block;
    background: white;
    border: 1px solid #999;
    margin: 0 0 15px 0;
    min-height: 84px;
    vertical-align: middle;
    position: relative;
    color: #666;
    max-height: 84px;
    display: inline-block;
    margin-right: 45px;
}
#show_input
{
    margin-right: 6px;
    position: absolute;
    top: 50%;
    margin-top: -6px;
    left: 12px;
}
.banks_branches li a 
{
    line-height: 3em;
    /*display: inline-block;*/
}
.banks_branches li a .bank_selector 
{
    margin-right: 6px;
    position: absolute;
    top: 50%;
    margin-top: -6px;
    left: 12px;
}
.banks_branches li a img
{
    max-width: 150px;
    border: none;
    outline: none;
    vertical-align: middle;
    height: auto;
}
.bank_select_btn 
{
    display: inline-block;
    padding: 20px 0 100px;
}
.brown_colr
{
    background: #c5c5c5;
    display: inline-block
}
.input_length
{
    width: 32%;
}
.hide_input_sec
{
    display: none;
}
.continue_btn
{
    display: none;
}
.bank_continue_btn
{
    padding: 11px 31px;
    background: #0074ff;
    color: #fff !important;
    font-weight: bold;
    border-radius: 5px;
    text-transform: capitalize;
    margin: 20px 0 20px;
    display: inline-block;
}

/*==============
End Chose Bank Page
===============*/

/*==========
Chat Box   
==========*/

.col-md-2, .col-md-10
{
    padding:0;
}
.panel
{
    margin-bottom: 0px;
}
.chat-window
{
    display:none;
    position:fixed;
    bottom:0;
    right: 0;
    float:right;
    margin-left:10px;
    z-index: 1;
    margin-left:10px;
}
.chat-window > div > .panel
{
    border-radius: 5px 5px 0 0;
}
.msg_container_base
{
    background: #fff;;
    margin: 0;
    padding: 10px;
    max-height: 376px;
    overflow-x:hidden;
}
.top-bar 
{
    background: #0074ff !important;
    color: white;
    padding: 10px;
    position: relative;
    overflow: hidden;
}
.msg_container 
{
    padding: 10px;
    overflow: hidden;
    display: flex;
}
.btn-group.dropup
{
    position:fixed;
    left:0px;
    bottom:0;
}
.white_clr
{
    color: #fff !important;
}
.icon_minim i
{
    padding-right: 10px;
}
form p
{
    color: #999;
}
.best_reason p
{
    color: #999;
}
.inputs 
{
    padding: 10px 0;
}
.options select
{
    width: 100%;
}
.options option
{
    font-size: 12px;
}
.form_btns 
{
    display: block;
    width: 100%;
    margin: 10px 0;
}
.form_btns input[type="button"] 
{
    display: inline-block;
    padding: 5px 0;
    margin-left: 13px;
    background: #0074ff;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 42%;
    text-align: center;

}
.deny_btn
{
    padding: 5px 25px;
    display: inline-block;
    color: #6D6E70;
    background: #fff;
}
.form_btns .deny_btn:hover
{
    background: #dedede;
}
.bottom_space
{
    width: 80%;
    height: 3px;
    box-shadow: -8px -1px 14px 2px rgba(255,255,255,0.95);
    position: absolute;
    background-color: #fdfdfd;
    bottom: 0;
    z-index: 1000;
}

/*============
End Chat Box   
=============*/

/*============
Make a term page   
=============*/

.balance_inqury 
{
    display: inline-block;
    padding-bottom: 20px;
}
.balance_inqury h1 
{
    display: inline-block;
    font-size: 48px;
}
.amount_text {
    width: 6%;
    display: inline-block;
    font-size: 12px;
    padding-left: 5px;
}
.paragraph 
{
    padding: 10px 0 0 0;
    display: block;
}
.paragraph p
{
    font-size: 16px;
    margin: 0px;
}
.light_text
{
    color: #ccc;
}
.light_text p
{
    font-size: 16px;
    margin: 0;
    padding-bottom: 15px;
}
.input_manual_length 
{
    width: 80%;
    display: block;
}
.input_field h3
{
    padding: 0 0 15px 0;
}
.payment_text
{
    padding:20px 0;
}
.password
{
    padding-top: 10px;
}
.bottom_border
{
    border-bottom: 1px solid #ccc;
}
.top_borders
{
    border-top: 1px solid #ccc;
}
.payment_and_pass_sec
{
    display: inline-block;
    width: 100%;
    padding: 25px 0px;
}
.payment_and_cancel_btn
{
    padding: 60px 0;
    display: block;
}
.cancel_btn
{
    display: inline-block;
}
.cancel_btn a
{
    display: inline-block;
    padding: 10px 30px;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #0074ff;
    color: #0074ff;
}
.prew_btn
{
    display: inline-block;
}
.main_error_sec
{
    padding: 30px 0;
    display: inline-block;
}
.error_details
{
    width: 100%;
    display: inline-block;
    text-align: center;
}
.error_details i
{
    font-size: 25px;
    color: #bf0000;
}
.error_details h3
{
    display: inline-block;
    padding-left: 20px;
    color: #bf0000;
}
.top_points {
    width: 76%;
    float: right;
    padding: 15px 0;
    margin: 0;
    color: #999;
}
.top_points li
{
    list-style-type: disc;
}
.bottom_points, .contact_and_email
{
    width: 77%;
    float: right;
}
.contact_and_email li
{
    display: inline-block;
    padding-right: 8px;
}
.contact_and_email li a:hover
{
    text-decoration: underline !important;
}
.bottom_description
{
    width: 100%;
    display: inline-block;
    padding: 40px 0;
    text-align: center;
}
.opacity
{
    opacity: 0.2;
}

/*===================
End Make a term page   
====================*/

/*============
Error page   
=============*/

.no_border
{
    border: none;
    display: block;
}
.large_text 
{
    display: block;
    padding: 35px 0 70px;
}
.large_text h1
{
    display: block;
    color: #777;
    font-size: 150px;
}
.error_detail
{
    display: block;
}
.error_detail h2 
{
    display: block;
    font-size: 19px;
    padding: 20px 0;
    color: #777;
}
.error_detail p
{
    color: #777;
    font-size: 16px;
}
.home_link
{
    display: block;
    padding: 20px 0;
}
.sad_emoji
{
    display: block;
    padding: 10px 0 50px;
    width: 100%;
    text-align: center;
}
.sad_emoji i
{
    font-size: 500px;
    color: #e5e5e5;
}

/*============
End  Error page   
=============*/

/*============
Help page   
=============*/

.popup_main_sec
{
    margin-bottom: 50px;
}
.content_header 
{
    display: block;
    padding: 20px 0 10px 0px;
}
.adjust_border
{
    box-shadow: inherit !important;
    border-radius: 7px !important;
    border-color: transparent !important;
    border: none !important;
    margin-top: 2px !important;
    zoom: 1;
}
.accordian_colr
{
    border: 1px solid #444 !important;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background: #888 50% 50% repeat-x !important;
    color: #fff !important;
    cursor: pointer;
    padding: 10px 30px;
}
.accordian_colr:hover
{
    border: 1px solid #333 !important;
    background: #666 50% 50% repeat-x !important;
    font-weight: normal:  !important;
    color: #fff !important;
}
.accordian_colr:active
{
    border: 1px solid #00366e !important;
    background: #0074ff !important;
    color: #fff;
}
.panel-title h3
{
    font-size: 18px;
    line-height: 20px;
}
.accordian_font
{
    border: 1px solid #a6c9e2 !important;
    background: #fcfdfc !important;
    padding: 20px 30px 30px 30px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;0
}
.accordian_font p
{
    font-size: 18px;
    margin: 0;
    color: #000;
}
.accordian_font span
{
    display: block;
}
.business_points 
{
    display: block;
    padding-left: 30px;
    padding-top: 20px;
}
.business_points li
{
    list-style-type: disc;
    font-size: 18px;
}

/*============
End Help page   
=============*/

/*============
Sign Out page   
=============*/

.sign_out_header
{
    background: #f6f6f6;
    display: inline-block;
    width: 100%;
    height: 600px;
}
.sign_out_header h1
{
    border-bottom: 1px solid #ccc;
    padding: 35px;
    color: #000;
}
.sign_out_text 
{
    display: inline-block;
    width: 100%;
    padding: 70px 35px;;
    font-size: 16px;
    color: #000;
}
.signin_back
{
    display: block;
    padding-left: 22px;
}
.signin_back li
{
    list-style-type: disc;
    color: #0074ff;
}
.right_side_info
{
    display: block;
    padding: 15px;
    color: #000;
}
.right_side_info h2
{
    font-size: 22px !important;
}
.email_chat_link
{
    display: inline-block;
    width: 100%;
}
.email_chat_link a
{
    display: block;
}
#progress {
    max-width: 300px;
    margin: auto;
}

/*=================
End Sign Out page   
==================*/

/*===============================================================================================================
RESPONSIVE
=================================================================================================================*/

/* */

@media screen  (min-width:1281px) and (max-width:1169)
{
    .container
    {
        width: auto;
    }
}
@media (min-width:1024px) and ( max-width:1280px)
{
    /*Main Page Media*/
    .nav_main
    {
        padding: 20px 0;
    }
    .logo
    {
        padding: 33px 0;
    }
    .logo img
    {
        max-width: 150px;
    }
    .nav-bar > li
    {
        border-left:none !important;
        padding: 23px;
    }
    .main_dropdown
    {
        padding-top: 27px;
    }
    .nav-bar > li:last-child
    {
        border: none;
    }
    .main_dropdown > li:last-child
    {
        font-size: 12px;
    }
    .btn_holder
    {
        margin: 0;
    }
    .btn_holder i
    {
        font-size: 20px;
        right: 10px;
        top: 11px;
    }
    .btn_holder input#btn-login
    {
        font-size: 13px;
    }
    .table_item
    {
        padding: 4px;
    }
    .contact_info
    {
        font-size: 12px;
    }
    .main_details
    {
        font-size: 9px;
    }

    /* End Main Page Media*/
}
@media (min-width:768px) and (max-width:1023px)
{
    /*Main Page Media*/
    .container
    {
        widows: auto;
    }
    .nav_main
    {
        width: 100%;
        padding: 0;
        display: none;
    }
    .logo_main
    {
        width: 100%;
        display: block;
        position: relative;
        top: 0;
        left: 0;
    }
    .mobile_btn
    {
        width: 100%;
        display: inline-block;
    }
    .bg_clr .container
    {
        padding: 0;
    }
    .mobile_menu:before
    {
        font-family: FontAwesome;
        content: "\f0c9";
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-size: 20px;
    }
    .nav-bar {
        width: 100%;
        background: #0074ff;
    }
    .nav-bar > li {

        display: block;
        overflow: hidden;
        padding: 5px;
        color: #fff !important;
        border-bottom: 1px solid #fff !important;
        border: none;
    }
    .nav-bar li a {
        margin: 5px 0;
        font-weight: normal !important;
        color: #fff !important;
        display: inline-block;
    }
    .nav-bar li a:hover
    {
        color: #fff !important;
    }
    .btn_holder
    {
        margin: 10px 0;
    }
    .payment_detail
    {
        width: 100%;
    }
    .main_details
    {
        font-size: 9px;
    }
    .contact_info
    {
        font-size: 12px;
        text-align: center;
    }
    .border_right, .page_header
    {
        border-right: none;
        width: 100%;
        padding-right:0 !important;
    } 
    .logo img
    {
        margin: 0 auto;
    }
    /* End Main Page Media*/

    /*Chose Bank Media*/

    .input_length
    {
        width: 70%;
    }

    /*End Chose Bank Media*/

    /*My Loans Media*/

    .fee_summary li
    {
        border: none;
        padding: 0 2px;
    }

    /*End My Loans Media*/

    /*With Draw Page*/

    .review_btn a
    {
        padding: 6px 13px;
        font-size: 15px;
    }
    .review_btn a i
    {
        font-size: 32px;
    }

    /*End With Draw Page*/

    /*Update Your Account page*/

    .update_btn
    {
        width: 100%;
    }

    /*Error Page*/

    .sad_emoji i
    {
        font-size: 400px;
    }

    /*End Error Page*/
}
@media (min-width:320px) and (max-width:767px)
    /*Main Page Media*/
{
    .nav_main
    {
        width: 100%;
        padding: 0;
        float: right;
        display: none;
    }
    .logo
    {
        width: 50%;
    }
    .logo_main
    {
        width: 100%;
        display: block;
        position: relative;
        top: 0;
        left: 0;
    }
    .mobile_btn
    {
        width: 100%;
        display: inline-block;
        position: absolute;
        top: 42px;
        right: -2px;
    }
    .btn_holder input#btn-login
    {
        margin-top: 10px;
    }
    .amount_detail
    {
        margin-top: 10px;
        width: 100%;
    }
    .amount_details
    {
        padding: 0 !important;
    }
    .mobile_menu:before
    {
        font-family: FontAwesome;
        content: "\f0c9";
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-size: 20px;
    }
    .nav-bar {
        width: 100%;
        background: #0074ff;
    }
    .nav-bar > li {

        display: block;
        overflow: hidden;
        padding: 5px;
        color: #fff !important;
        border-bottom: 1px solid #fff !important;
        border: none;
    }
    .nav-bar li a {
        margin: 5px 0;
        font-weight: normal !important;
        color: #fff !important;
        display: inline-block;
    }
    .nav-bar li a:hover
    {
        color: #fff !important;
    }
    .contact_info, .footer_content
    {
        text-align: center;
    }
    .footer_content li
    {
        width: 100%;
        padding: 0px;
    }
    .border_right, .page_header
    {
        border-right: none;
        width: 100%;
    }

    /*End main Page Media*/

    /*Chose Bank Media*/
    .page_header h1
    {
        width: 100%;
        font-size: 25px;
    }
    .brown_colr
    {
        margin-left: 15px;
    }
    .footer_content li img
    {
        margin: 0 auto;
    }
    .input_length
    {
        width: 100%;
    }
    /* End Chose Bank Media*/

    /*My Loans Media*/

    .sub_menu li
    {
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    .fee_summary li
    {
        width: 100%;
        border: none;
    }
    .payment_info_detail
    {
        padding: 20px 0;
        text-align: center;
    }

    /*End My Loans Media*/

    /*With Draw Page*/

    .removing_width
    {
        width: 100%;
    }
    .nav > li > a
    {
        padding: 10px 5px !important ;
    }

    /*End With Draw Page*/

    /*Activity Page*/

    .download_link
    {
        margin-top: 25px;
        margin-left: -15px;
    }

    /*End Activity Page*/

    /*Update Your Account page*/

    .inline, .js_class
    {
        width: 70% !important;
    }
    .update_btn
    {
        width: 100%;
    }
    .update_btn a
    {
        padding: 15px 30px;
    }
    .connect_btn a
    {
        padding: 15px 20px;
    }

    /*End Update Your Account page*/

    /*Error Page*/

    .sad_emoji i
    {
        font-size: 300px;
    }

    /* End Error Page*/

    /*Help page*/

    .panel-title h3, .accordian_font p 
    {
        font-size: 16px;
    }

    /*End Help page*/


    /*Login Page*/

    .popup_width
    {
        width: 90%;
    }
    .sign_up_btn
    {
        width: 40% !important;
    }
    .sing_up_header h2
    {
        font-size: 18px;
    }
    .cross_icon
    {
        margin-top: -30px !important;
    }
    .form-wrap
    {
        width: 100%;
    }
    .input_name
    {
        line-height: 20px;
    }
    .form-control
    {
        height: 35px;
    }
    .modal-dialog
    {
        top: 165px;
    }
    .error_message
    {
        width: 100%;
    }
    .small_view
    {
        width: 92%;
    }

    /*Login Page*/

}
